node_modules/*
package-lock.json
package.json
bootstrap.egg-info/
.coverage.Tommy*
pip.conf
build/*
dist/*
credentials/*
.ycm_extra_conf.py
*.DS_Store
.coverage
coverage.xml
.tox/
venv*
*.pyc
.idea/
.python-version
htmlcov/
